#prev,
#next {
    max-height: 3rem;


}


#projects-select {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxx */
/* carousel is #projects */
#projects {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* width: 0rem; */
    /* max-width: 100vw !important; */
    height: 30rem;
    margin: auto;
    border: 1px solid chartreuse;
    position: relative;
    left: -15%
}

#projects>div {
    /* todo THIS IS THE PART*/
    position: absolute;
    /* transition: transform 1s, left 1s, opacity 1s, z-index 0s; */
    opacity: 1;
    display: flex;
    height: 30rem;
    /* overflow: hidden; */

}



#projects div.hideLeft {
    z-index: 1;
    /* position: relative; */
    /* left: 10%; */
    /* opacity: 0; */
    position: absolute;
    scale: 55%;

    transform: translateY(0%) translateX(-150%);
}

#projects div.prevLeftSecond {
    z-index: 4;
    /* left: 35%; */
    position: absolute;
    scale: 70%;

    transform: translateY(0%) translateX(-100%);
}

#projects div.prev {
    z-index: 5;
    position: absolute;
    scale: 85%;
    left: -40%;
    transform: translateY(0%) translateX(-50%);

}

#projects div.selected {
    z-index: 10;
    position: absolute;
    scale: 100%;
    /* left: 0; */
    transform: translateY(0%) translateX(0%);
    /* transition: rotate 1s, transform 1s, left 1.2s, z-index 0s; */
}

#projects div.next {
    z-index: 6;
    /* left: 60%; */
    position: absolute;
    scale: 85%;

    transform: translateY(0%) translateX(50%);
}


#projects div.nextRightSecond {
    z-index: 5;
    /* left: 68%; */
    position: absolute;
    scale: 70%;

    transform: translateY(0%) translateX(100%);

    /* opacity: 0.7; */
}

#projects div.hideRight {
    /* opacity: 0; */
    position: absolute;
    scale: 55%;

    transform: translateY(0%) translateX(150%);

}



/* 


@media screen and (max-width: 750px) {

    #projects div.hideLeft {
        left: 10%;
        opacity: 0;
        transform: translateY(50%) translateX(-50%);
    }


    #projects div.hideRight {
        opacity: 0;
        transform: translateY(50%) translateX(-50%);
    }

    #projects div.prevLeftSecond {
        z-index: 4;
        left: 40%;
        transform: translateY(15%) translateX(-50%);
        rotate: -8deg;
    }

    #projects div.prev {
        z-index: 5;
        left: 45%;
        transform: translateY(10%) translateX(-50%);
        rotate: -5deg;

    }

    #projects div.selected {
        z-index: 10;
        left: 50%;
        transform: translateY(-2.5%) translateX(-50%);
        transition: rotate 1s, transform 1s, left 1.2s, z-index 0s;

    }

    #projects div.next {
        z-index: 6;
        left: 55%;
        transform: translateY(20%) translateX(-50%);
        rotate: 5deg;

    }


    #projects div.nextRightSecond {
        z-index: 5;
        left: 60%;

        transform: translateY(30%) translateX(-50%);
        rotate: 8deg;

    }






} */
