.skills-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -3px 3px 3px rgb(206, 203, 203);
    border: 1px solid whitesmoke;
    /* height: 33rem; */
    width: 70%;
    position: relative;
    /* height: fit-content; */
    /* margin: auto; */
    margin-left: 25px;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 30px;
}



#skills {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* border: 1px solid chartreuse; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
}


.img-fluid {
    height: 65px;
    width: 65px;
    /* object-fit: contain; */
}

.stats {
    max-width: 22rem;
}

@media screen and (max-width: 750px) {

    .skills-details {
        flex-direction: column;
        width: 90%;
    }


    .stats {
        max-width: 20rem;
    }
}
