#resume-toggle {
    display: flex;
    flex-direction: column;
}

#resume-toggle button {
    width: 200px;
    margin: auto;
}


#resume-button {
    width: 200px;
    margin: auto;
    height: 3rem;
    border-radius: 4px;
    background-color: white;
    font-weight: 600;
    margin-bottom: 20px;
    position: absolute;
    left: 2rem;
    top: 10rem;
}

#resume-button:hover {
    background-color: orangered;
    color: white;
}



#outer-resume {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#resume {
    /* height: 100%; */
    height: 35rem;
    width: 42rem;
    margin: auto;
}



@media screen and (max-width: 750px) {
    /* #resume-toggle {
        max-width: fit-content;
    } */

    #resume-button {
        /* position: absolute; */
        top: 2rem;
        left: 50vw;
        max-width: 40vw;
        z-index: 15;
    }
}
