#resume-toggle {
    display: flex;
    flex-direction: column;
}

#resume-toggle button {
    width: 200px;
    margin: auto;
}

#outer-resume {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#resume {
    /* height: 100%; */
    height: 35rem;
    width: 42rem;
    margin: auto;
}
